@import "spectre";
@import "spectre-exp";

h1,
.h1 {
    font-size: 1.6rem;
}

h2,
.h2 {
    font-size: 1.4rem;
}

h3,
.h3 {
    font-size: 1.2rem;
}

h4,
.h4 {
    font-size: 1rem;
}

h5,
.h5 {
    font-size: .8rem;
}

h6,
.h6 {
    font-size: .8rem;
}

h1 {
    margin-top: .5em;

    &:before {
        content: "â°";
        font-family: emoji;
    }
}

header.p-sticky {
    top: 0;
    z-index: 1;
}


#header-toast {
    opacity: 1;
    transition: all 1s ease-in-out;
}

.contenttab {
    display: none;
}

.justify-content-center {
    justify-content: center;
}

#led-layout {
    height: 2.666rem;
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    line-height: 1.2em;
    overflow: hidden;

    @for $index from 3 through 5 {
        &>div:nth-of-type(#{$index}) {
            margin-top: .666rem * ($index - 2);
        }

    }

    .led-layout-block {
        position: absolute;
        height: .666rem;
        font-size: 0.6rem;
        overflow: hidden;
    }

    #overflow-indicator {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: .5em;
        z-index: 100;
    }
}

time {
    text-align: right;

    @media (max-width: $size-xs) {
        text-align: left;
    }
}

.bottombar {
    @media (max-width: $size-sm) {
        position: fixed;
        bottom: 0px;
        overflow: hide;
        width: 100%;
        z-index: 100;
        margin: 0 auto;
        background-color: #fff;
    }

    #save-button {
        @media (max-width: $size-sm) {
            width: calc(100% - 2.5em);
        }
    }

    #language-selector {
        height: 2rem;
        width: 2.2rem;
        border: none;
        font-family: sans-serif, emoji;

        @media (max-width: $size-sm) {
            margin-left: 1px;
        }

    }
}

form {
    margin-bottom: 3rem;
}

@mixin slider-track-gradient($gradient) {
    background: $gradient;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.slider {
    &.hue-slider {
        $hue-gradient: linear-gradient(to right, #ff0000 0%, #ff9900 16%, #ffff00 33%, #00ff00 50%, #00ffff 66%, #0000ff 83%, #ff00ff 100%);
        @include slider-track-gradient($hue-gradient);

        &::-webkit-slider-runnable-track {
            @include slider-track-gradient($hue-gradient);
        }

        &::-moz-range-track {
            @include slider-track-gradient($hue-gradient);
        }

        &::-ms-fill-lower,
        &::-ms-fill-upper {
            @include slider-track-gradient($hue-gradient);
        }
    }

    &.brightness-slider {
        $brightness-gradient: linear-gradient(to right, #000000, #ffffff);
        @include slider-track-gradient($brightness-gradient);

        &::-webkit-slider-runnable-track {
            @include slider-track-gradient($brightness-gradient);
        }

        &::-moz-range-track {
            @include slider-track-gradient($brightness-gradient);
        }

        &::-ms-fill-lower,
        &::-ms-fill-upper {
            @include slider-track-gradient($brightness-gradient);
        }
    }
}
